node_modules

#Hardhat files
cache
artifacts
typechain
dist

circuit/proof.json
circuit/public.json

node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

package-lock.json
yarn.lock
